.canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1);
}

.canvas[data-visible='true'] {
  opacity: 1;
}
