
@import "tailwindcss";

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body{
  scroll-behavior: smooth;
}

#root {
  background: #2f2f2f/60;
  /* default for larger screens */
  margin-right: -15px;
  overflow-x: hidden;
}

/* Apply margin only on small screens (example: max-width 768px) */
@media (max-width: 768px) {
  #root {
    margin-right: -200px;
  }
}

.dark{
  background-color: black;
  color: white;
}

.color-gradient-box {
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  border-radius: 0.5rem;
  background: linear-gradient(
    270deg,
    #ff6b6b,
    #feca57,
    #48dbfb,
    #1dd1a1,
    #ff6b6b
  );
  background-size: 500% 500%;
  animation: gradientShift 20s ease infinite;
  user-select: none;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  justify-content: center;
  align-items: start;
}

.text {
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease-out forwards;
}

.name {
  font-size: 4rem;
  font-weight: 700;
  animation-delay: 0.2s;
  color: #111;
}

.subtitle {
  font-size: 3rem;
  font-weight: 400;
  animation-delay: 0.4s;
  color: #555;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text {
  position: absolute;
  white-space: nowrap;
  color: white;
}

.hero-background {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #444cf755, #444cf7 );
}

@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}

.alan-sans {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


:root {
  --font-roboto: "Roboto", sans-serif;
  --font-gotham: "Montserrat", sans-serif; 
}

.mobile-overlay { z-index: 50; position: fixed; }

